<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<div>
    <h3>About {{appTitle}}</h3>
<p>
    The Chrome App Developer Tool aids in the development of Chrome Apps for Mobile. It can be used to run Chrome Apps for Mobile with the Chrome Dev Editor, or with the cca tool, for faster development and easier debugging.
</p>
<p>
For more information, see the source and documentation <a href="http://goo.gl/2IfFPc">here</a>.
</p>
</div>
<div>
    <h3>Licences</h3>
    <p>{{appTitle}} is open source software, released under the Apache License, Version 2.0</p>
    <p>This product contains other open source software. See the License files in <a href="https://github.com/MobileChromeApps/chrome-app-developer-tool">the source tree</a> for full details.</p>
    <p>This version of {{appTitle}} uses the Crosswalk project, which is released under a <a href="https://github.com/crosswalk-project/crosswalk/blob/master/LICENSE">BSD license</a>, and uses Chromium, also released under a <a href="http://src.chromium.org/viewvc/chrome/trunk/src/LICENSE">BSD license</a>.</p>
</div>

<div>
    <h3>Available Plugins: {{ plugins.length }}</h3>
    <ul>
        <li ng-repeat="plugin in plugins">
            <div><strong>{{ plugin.id }}</strong>: {{ plugin.version }}</div>
        </li>
    </ul>
</div>

<div>
    <h3>Usage Statistics and Crash Reports</h3>
    <form name="permissionForm">
        <input type="checkbox" ng-model="formData.reportingPermissionCheckbox">Help make {{appTitle}} better by automatically sending usage statistics and crash reports to Google. This information will be used in accordance with the <a href="http://www.google.com/policies/privacy/">Google Privacy Policy</a>.
    </form>
</div>
<br/>
<div class="buttons">
    <a href="#/"><button>Back</button></a>
</div>
