<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<div class="title">{{appTitle}} <span class="title-version">v{{appVersion}}</span></div>
<h2>{{ app.appId }}</h2>
<div class="flex-1 scrollable" style="text-align:left">
    <h3>Plugins in Use: {{ app.plugins.matched.length + app.plugins.older.length + app.plugins.newer.length }}</h3>
    <ul style="overflow:hidden">
        <li ng-repeat="plugin in app.plugins.matched">
            <strong>{{ plugin.id }}</strong>: {{ plugin.version }}
        </li>
        <li ng-repeat="plugin in app.plugins.newer" class="plugin-newer">
            <strong>{{ plugin.id }}</strong>: {{ plugin.versions.harness}}
            <span>(wants {{ plugin.versions.child }})</span>
        </li>
        <li ng-repeat="plugin in app.plugins.older" class="plugin-older">
            <strong>{{ plugin.id }}</strong>: {{ plugin.versions.harness}}
            <span>(wants {{ plugin.versions.child }})</span>
        </li>
        <li ng-repeat="plugin in app.plugins.missing" class="plugin-missing">
            <strong>{{ plugin.id }}</strong>
            <span>(missing)</span>
        </li>
    </ul>
    <div ng-show="app.plugins.missing">
        Missing plugins require that you build {{appTitle}} from source with these extra plugins added. See the <a href="https://github.com/MobileChromeApps/chrome-app-developer-tool/blob/master/README.md">README</a> for details.
    </div>
    <div>
        Plugin problems can sometimes be resolved by updating {{appTitle}}, or by it from source. See the <a href="https://github.com/MobileChromeApps/chrome-app-developer-tool/blob/master/README.md">README</a> for details.
    </div>
</div>
<div style="margin:20px">
    <button ng-click="goBack()" class="big-button">Done</button>
</div>
