<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<div class="listening-container">
  <span class="listening-ip" ng-repeat="ipAddress in ipAddresses">{{ipAddress}}<span class="listening-port">:{{port}}</span></span>
  <span class="listening-error" ng-show="ipAddresses && ipAddresses.length == 0">Could not bind to port {{port}}</span>
</div>
<div class="app-empty-message" ng-show="!app">
  Use <a href="https://www.npmjs.org/package/cca">cca</a> or <a href="https://github.com/dart-lang/spark">Chrome Dev Editor</a> to launch an app.
</div>
<div class="app-container" ng-show="!!app">
  <div class="app-button-x" ng-click="removeApp(app, $event)"></div>
  <div class="app-container-body">
    <div class="app-icon-container" ng-click="launchApp(app)">
      <img ng-src="{{app.iconURL}}" class="app-icon" ng-if="!!app.iconURL">
      <div class="app-icon app-icon-missing" ng-show="!app.iconURL">No Icon</div>
    </div>
    <div class="app-text-container-1">
      <div class="app-text-container-2">
        <div class="app-title">{{app.appName || app.appId}} <span class="app-version">{{app.version}}</span></div>
        <div class="app-last-updated" ng-show="app.updatingStatus === null">Last updated: <span am-time-ago="app.lastUpdated"></span></div>
        <div class="app-last-updated" ng-show="app.updatingStatus !== null">Update in progress: {{app.updatingStatus}}%</div>
        <div class="app-plugin-status">Plugins:
            <span>{{app.plugins.all.length}} total</span><span ng-show="app.plugins.missing.length || app.plugins.older.length || app.plugins.newer.length">, </span>
            <span style="color:#c00" ng-show="app.plugins.missing.length">{{ app.plugins.missing.length }} missing</span><span ng-show="app.plugins.missing.length && (app.plugins.older.length || app.plugins.newer.length)">, </span>
            <span style="color:#822" ng-show="app.plugins.older.length">{{ app.plugins.older.length }} outdated</span><span ng-show="app.plugins.older.length && app.plugins.newer.length">, </span>
            <span ng-show="app.plugins.newer.length">{{ app.plugins.newer.length }} newer</span>
            <a ng-click="showDetails(app, $event)" href="#">(details)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="app-button-container">
    <button class="app-button" ng-show="!isRunning" ng-click="launchApp(app)">Launch</button>
    <button class="app-button" ng-show="isRunning" ng-click="stopApp()">Stop</button>
  </div>
</div>
<div class="footer">
  <a href="#">About {{appTitle}}</a>
</div>

