<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<div>
    <h3>Welcome!</h3>
    <p>The Chrome App Developer Tool aids in the development of Chrome Apps for Mobile. It can be used to run Chrome Apps for Mobile with the Chrome Dev Editor, or with the cca tool, for faster development and easier debugging.</p>
    <h3>Usage Statistics and Crash Reports</h3>
    <form name="permissionForm">
        <input type="checkbox" ng-model="formData.reportingPermissionCheckbox">Help make {{appTitle}} better by automatically sending usage statistics and crash reports to Google. This information will be used in accordance with the <a href="http://www.google.com/policies/privacy/">Google Privacy Policy</a>.
    </form>
</div>
<br />
<div class="buttons">
    <a href="#/"><button ng-click="saveReportingPermission()">Done</button></a>
</div>
